* {
  margin: 0;
  padding: 0;
}

body {
  background-image: url("https://media.istockphoto.com/vectors/colorful-smooth-gradient-color-background-wallpaper-inspired-by-new-vector-id1139981490?k=6&m=1139981490&s=170667a&w=0&h=J_YNbb5IsvY4zWThVnw6EQ3CVk7jp05N1iXraInQNjo=");
  background-repeat: no-repeat;
  background-size: 100%;
}

.principal {
  display: flex;
  flex-direction: column;
  background-color: #ffffff;
  min-height: 650px;
  width: 500px;
  vertical-align: middle;
  margin: 2% 25% 0 28%;
  box-shadow: 5px 5px 5px #000000;
}

header {
  min-width: 500px;
  height: 60px;
}

figure {
  width: 480px;
  float: left;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 10px;
}

.bloco {
  width: 360px;
}

.fig {
  padding: 0 0 0 0;
  float: left;
  display: flex;
  justify-content: center;
}

.text {
  width: 200px;
}

.text p {
  padding-left: 6px;
  margin: 8px 0 0 0;
  display: flex;
  text-align: left;
  flex-direction: column;
}

.profile {
  width: 50px;
  border-radius: 50%;
}

.follow {
  cursor: pointer;
  align-items: center;
  justify-content: center;
  height: 30px;
  width: 90px;
  background-color: #ffffff;
  border-color: #00afff;
  outline: none;
  border-top-left-radius: 12%;
  border-top-right-radius: 12%;
  border-bottom-left-radius: 12%;
  border-bottom-right-radius: 12%;
}

.follow:hover {
  background-color: #000000;
  height: 28px;
  width: 88px;
  outline: none;
  border-color: #ffffff;
  border-top-left-radius: 12%;
  border-top-right-radius: 12%;
  border-bottom-left-radius: 12%;
  border-bottom-right-radius: 12%;
}

.immg {
  cursor: pointer;
  width: 5%;
  height: 5%;
}

.immg:hover{
  width: 6%;
  height: 6%;
}

.pic {
/*  background-color: #000000;
  background-image: url(https://i.makeagif.com/media/12-30-2017/2yvryC.gif);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100%;
  margin: 10px 0 10px 0;*/
  width: 500px;
  height: 450px;
}

.pic:hover {
  background-position: center;
  background-size: 200%;
}

footer {
  display: flex;
  flex-direction: column;
  width: 500px;
  height: 120px;
}

footer figure {
  justify-content: space-between;
  width: 490px;
  margin: 0 5px;
}

footer figure div {
  justify-content: left;
  width: 480px;
  margin: 0 5px;
}

footer figure img {
  margin: 5px;
  width: 25px;
  height: 25px;
  cursor: pointer;
}

footer figure img:hover {
  width: 30px;
  height: 30px;
}

.curtidas {
  justify-content: left;
  width: 50px;
  height: 30px;
  margin: 0 4px;
}

.curtidas figure {
  justify-content: left;
  width: 480px;
  height: 30px;
}

.curtidas figure img {
  width: 20px;
  height: 20px;
  align-items: center;
  margin: 0 0 2px 5px;
}

.curtidas p {
  color: black;
  font-weight: bold;
  font-family: Helvetica;
}

.comments {
  text-align: left;
  margin: 0 0 0 5px;
}

.nome {
  color: black;
  margin: 5px 0 0 10px;
}

.banner_slide {
  display: block;
  height: 293px;
  width: 600 px;
  margin: auto;
  margin-top: 20px;
  position: relative;
}

.banner_slide li {
  list-style: none;
  position: absolute;
}

.banner_slide img {
  margin: auto;
  opacity: 0;
  visibility: hidden;
  height: 420px;
  width: 500px;
  vertical-align: top;
}

.banner_slide input {
  display: none;
}

.banner_slide label {
  background-color: #6623d3;
  bottom: 10px;
  cursor: pointer;
  display: block;
  height: 10px;
  position: absolute;
  width: 10px;
  z-index: 10;
}

.banner_slide li:nth-child(1) label {
  left: 10px;
  background-color: #ff0000;
  border-radius: 50%;
}

.banner_slide li:nth-child(2) label {
  left: 40px;
  background-color: #ae00ff;
  border-radius: 50%;
}

.banner_slide li:nth-child(3) label {
  left: 70px;
  background-color: #00afff;
  border-radius: 50%;
}

.banner_slide li input:checked ~ img {
  opacity: 1;
  visibility: visible;
  z-index: 10;
}